$colores:(
"color1":rgba(198, 209, 36, 0.89),
"color2":#FCF9C6,
"color3":olive,
);
$font1:Verdana, Geneva, Tahoma, sans-serif;
@mixin Titulos($direction,$size,$fontf) {
    text-align: $direction;
    font-size: $size;
    font-family: $fontf;
}


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


header {
    list-style: none;
    background-color:map-get($colores ,"color1");
    display: flex;
    top:0%;
    width: 100%;
    visibility: visible;
    z-index: 999;
    position: fixed;
    nav{
    width:100%;}
    li{
        font-size: 22px;
    }
    .navbar-nav{
        width: 100%;
        display: flex;
        justify-content: end;
        }
    .navbar-brand:hover{
        transform: scale(1.3);
        transition: 2s;
    }
    #collapsibleNavbar{
        width: 100%;
    }
}


h1 {
    @include Titulos(center, 60px,$font1 );
    color:map-get($colores , "color3");
    padding: 50px;
    text-shadow: 2px 2px 5px rgba(90, 119, 56, 0.644);
    text-transform: capitalize;
}





section div p {
    font-size: 16px;
    font-family: $font1;
}



div {
    display: inline-block;
}

.pieDePagina {
    background-color:map-get($colores , "color1");
    height: 70px;
    width: 100%;
    text-align: center;
}


.parrafoFooter {
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

footer i {
    font-size: 30px;
    letter-spacing: 10px;
    padding-top: 5px;
}

/*.container {
    min-height: calc(100vh - 70px - 70px)
}*/

.parrafoQuienesSomos {
    font-family: $font1;
    font-size: 16px;
    text-align: justify;
    padding: 50px;

}

.parrafoServicios{
    font-size: 18px;
}


body {
    background-color:map-get($colores , "color2");
    padding-top: 5.2%;
}


main section div {
    margin: 0.5%;
    vertical-align: middle;
    padding-left: 5%;
    margin-top: 5%;
}

section div p {
    padding-top: 13px;
}

.tablaEnvios{
    display: flex;
    width: 30%;
    justify-content: end;
}
.mainContactos{
    padding: 10px;
}

.table{
    background-color: rgb(172, 201, 106);
}




@media screen and (max-width: 992px) {
    .sugerenciasGaleria {
        grid-template-areas: "hijo1 hijo2"
            "hijo3 hijo4";
        justify-content: space-around;
    }
    .promoGaleria {
        grid-template-areas: "hijo5 hijo6"
            "hijo7 hijo8";
        justify-content: space-around;
    }
    .productosGaleria {
        grid-template-areas: "hijos1 hijos2""hijos3 hijos4""hijos5 hijos6""hijos7 hijos8""hijos9 hijos9";
        padding-left: 30px;
    }
    .h1Productos {
        font-size: 40px;
    }
    .tituloQuienessomos {
        font-size: 40px;
    }
    .parrafoQuienesSomos {
        font-size: medium;
    }
    .parrafoFooter {
        font-size: 16px;
    }
    .tituloIndex {
        font-size: 40px;
    }

}




@media screen and (max-width: 583px) {
    .sugerenciasGaleria {
        grid-template-areas: "hijo1""hijo2"
            "hijo3""hijo4";
        justify-content: center;
    }
    .promoGaleria {
        grid-template-areas: "hijo5""hijo6"
            "hijo7""hijo8";
        justify-content: center;
    }
    .productosGaleria {
        grid-template-areas: "hijos1""hijos2"
            "hijos3""hijos4""hijos5""hijos6""hijos7""hijos8""hijos9";
        justify-content: center;
    }
    .h1Productos {
        font-size: 25px;
        padding-top: 70px;
    }
    .tituloQuienessomos {
        font-size: 35px;
        padding-top: 120px;
    }
    .parrafoQuienesSomos {
        font-size: medium;
    }
    .parrafoFooter {
        font-size: 14px;
    }
    .tituloIndex {
        font-size: 30px;
    }
    .tablaEnvios{
        padding-left:185px;
    }
}



@import "_index.scss";
@import"_productos.scss";

