* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


header {
    list-style: none;
    background-color: rgba(198, 209, 36, 0.89);
    display: flex;
    top:0%;
    width: 100%;
    visibility: visible;
    z-index: 999;
    position: fixed;
}
nav{
    width: 100%;
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: end;
    }

#collapsibleNavbar{
    width: 100%;
}

.navbar-brand:hover{
    transform: scale(1.3);
    transition: 2s;

}



    
li {
    display: inline;
    position: relavite;
    letter-spacing: normal;
    font-size: 20px;
}




li a {
    text-decoration: none;
}

li a:hover {
    color: rgba(245, 245, 234, 0.979);
}


h1 {
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: olive;
    padding: 50px;
    text-shadow: 2px 2px 5px rgba(90, 119, 56, 0.644);
    text-transform: capitalize;
}

.textoVegano {
    background-color: rgba(177, 235, 20, 0.281);
    text-align: justify;
    padding-bottom: 15px;
    padding: 50px;
}

.sugerencias {
    font-size: 40px;
    background-color: rgb(120, 197, 32)
}


.promociones {
    font-size: 40px;
    background-color: rgb(120, 197, 32);
}

section div p {
    font-size: 15px;
    font-family: fantasy;
}



div {
    display: inline-block;
}

.pieDePagina {
    background-color: rgba(198, 209, 36, 0.89);
    border: 2px solid rgba(33, 194, 12, 0.712);
    height: 70px;
    width: 100%;
    text-align: center;

}

.parrafoFooter {
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

footer i {
    font-size: 30px;
    letter-spacing: 10px;
    padding-top: 5px;
}

.container {
    min-height: calc(100vh - 70px - 70px)
}

.parrafoQuienesSomos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: justify;
    padding: 50px;

}


body {
    background-color: rgba(184, 184, 81, 0.582);
    padding-top: 5.2%;
}



section div {
    padding-left: 5%;
    margin-top: 5%;
}

main section div {
    margin: 0.5%;
    vertical-align: middle;
    padding-left: 5%;
}

.sugerenciasGaleria {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "hijo1 hijo2 hijo3 hijo4";
    justify-content: center;
    padding: 15px;
    padding-top: 70px;
    padding-left: 35px;
    column-gap: 60px;
}

.container1 {
    grid-area: hijo1;
}

.container2 {
    grid-area: hijo2;
}

.container3 {
    grid-area: hijo3;
}

.container4 {
    grid-area: hijo4;
}

.sugerenciasGaleria img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.promoGaleria {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "hijo5 hijo6 hijo7 hijo8";
    justify-content: center;
    padding: 15px;
    padding-top: 70px;
    padding-left: 35px;
    column-gap: 60px;
}

.container5{
    grid-area: hijo5;
}

.container6{
    grid-area: hijo6;
}

.container7{
    grid-area: hijo7;
}

.container8{
    grid-area: hijo8;
}


.promoGaleria img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.item:hover {
    display: grid;
    transform: scale(1.05);
    transition: all 0.7s;
    box-shadow: 2px 2px 5px black;
}

.productosGaleria {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "hijos1 hijos2 hijos3 ""hijos4 hijos5 hijos6""hijos7 hijos8 hijos9";
    grid-gap: 50px;
    justify-content: center;
    padding: 70px;
    padding-left: 125px;
    column-gap: 40px;
}

.containerp1 {
    grid-area: hijos1;
}

.containerp2 {
    grid-area: hijos2;
}

.containerp3 {
    grid-area: hijos3;
}

.containerp4 {
    grid-area: hijos4;
}

.containerp5 {
    grid-area: hijos5;
}

.containerp6 {
    grid-area: hijos6;
}

.containerp7 {
    grid-area: hijos7;
}

.containerp8 {
    grid-area: hijos8;
}

.containerp9 {
    grid-area: hijos9;
}

.productosGaleria img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

section div p {
    padding-top: 13px;
}

.tablaEnvios{
    display: flex;
    width: 30%;
    justify-content: end;
}
.mainContactos{
    padding: 10px;
}

.table{
    background-color: rgb(172, 201, 106);
}

@media screen and (max-width: 992px) {
    .sugerenciasGaleria {
        grid-template-areas: "hijo1 hijo2"
            "hijo3 hijo4";
        justify-content: space-around;
    }
    .promoGaleria {
        grid-template-areas: "hijo5 hijo6"
            "hijo7 hijo8";
        justify-content: space-around;
    }
    .productosGaleria {
        grid-template-areas: "hijos1 hijos2""hijos3 hijos4""hijos5 hijos6""hijos7 hijos8""hijos9 hijos9";
        padding-left: 30px;
    }
    .h1Productos {
        font-size: 40px;
    }
    .tituloQuienessomos {
        font-size: 40px;
    }
    .parrafoQuienesSomos {
        font-size: medium;
    }
    .parrafoFooter {
        font-size: 16px;
    }
    .tituloIndex {
        font-size: 40px;
    }

}




@media screen and (max-width: 520px) {
    .sugerenciasGaleria {
        grid-template-areas: "hijo1""hijo2"
            "hijo3""hijo4";
        justify-content: center;
    }
    .promoGaleria {
        grid-template-areas: "hijo5""hijo6"
            "hijo7""hijo8";
        justify-content: center;
    }
    .productosGaleria {
        grid-template-areas: "hijos1""hijos2"
            "hijos3""hijos4""hijos5""hijos6""hijos7""hijos8""hijos9";
        justify-content: center;
    }
    .h1Productos {
        font-size: 25px;
        padding-top: 70px;
    }
    .tituloQuienessomos {
        font-size: 35px;
        padding-top: 120px;
    }
    .parrafoQuienesSomos {
        font-size: medium;
    }
    .parrafoFooter {
        font-size: 14px;
    }
    .tituloIndex {
        font-size: 30px;
    }
}
